body {
    background-color: rgb(113, 124, 95);
}
div#corpo {
    width: 800px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 2px 2px rgb(0,0,0,0.5);
}
/* Base do css dos HTMLS */
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p {
    text-align: justify;
    font-size: 18px;
}
/* Menu*/
nav#menur{
    display: block;
    padding: 10px;
    float: right; 
}
.menu{
    list-style:none; 
    float: left; 
    margin: 2px;
}
.menu li{
    position: relative; 
    float: left; 
}
.menu li a{
    color:green; 
    text-decoration:none; 
    padding: 5px; 
    display:block;
} 
.menu li a:hover{
    background: rgb(136, 228, 136); 
    color: green; 
    text-shadow:1px 1px 5px rgb(11, 151, 11); 
}
.menu li  ul{
    position: absolute; 
    top:25px; 
    left:0;
    display:none;
}
.menu li:hover ul, .menu li.over ul{
    display:block;
}
.menu li ul li{
    background: rgb(136, 228, 136); 
    display:block; 
    width:150px;
}
/* Tabela Simples */
table {
    margin: auto;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(202, 233, 202);
    box-shadow: 1px 2px 2px rgb(0,0,0,0.5);
}
caption {
    font-size: 18px;
}
tr {
    background-color: white;
}
td {
    padding: 10px;
    border-radius: 4px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
td a {
    color: green;
}
td a:hover {
    text-shadow: 1px 1px 2px rgb(54, 189, 54);
}